<!DOCTYPE html>
<html>
<head>
    <title>簡單網頁範例</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script> 
</head>
<body>
    <!-- <script type="module">
        //使用require導入example.js c.js 
          require(["script2"], function () {
               var example = require("example" );
               var c = require( "c" );
              console.log(example.message);
              example.bb( 2,7 );
              c();
          });
      </script> -->
    <!-- <script>var exports = {};</script>  -->
    <!-- <script src="script2.js"></script> -->
    <h1>簡單網頁範例</h1>
    <p>請在下面的輸入框中輸入一串數字，然後按下確認按鈕，看看轉換後的結果。</p>
    <input id="input" type="text" placeholder="162111,2550191">
    <button onclick=triggerPostAction()>確認</button>
    <input id="output" type="text" placeholder="轉換結果" readonly>
    <!-- <script>
        // 定義一個函數，將數字轉換成二進位制
        // function convert() {
            // 建立一個XMLHttpRequest物件
            // const express = require('express');
            // const axios = require('axios');
            // const cheerio = require('cheerio/lib/slim');  // 引入 cheerio 库，用于解析 HTML
            // const XMLHttpRequest = require('xhr2');
            // const { getElementsByTagName } = require('domutils');
            // var xhr = new XMLHttpRequest();
            // xhr.open("POST", "http://gis.thl.ncku.edu.tw/coordtrans/coordtrans.aspx");

            // 設定請求的header
            // xhr.setRequestHeader("Upgrade-Insecure-Requests", "1");
            // xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            // xhr.setRequestHeader("User-Agent", "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36");
            // xhr.setRequestHeader("Accept", "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7");


            // 獲取輸入框中的數字
            // var input = document.getElementById("input").value;
            // var input = document.getElementById("input").value;
            // console.log(input);
            // 檢查是否為有效的數字
            // input = input.split(',');
            // console.log(input);
            // send request
            // output = send_request(input);
            // 貼出結果
        //     document.getElementById("output").value = output;
        // }            
            // // twd97轉wgs84
            // if (input[0]>10000) {
            //     if(input[0]>input[1]){
            //         var body = {
            //             'BUTTON1':'轉換',
            //             'CoordFormat':'4',
            //             'CoordValue':input.toString(),
            //             '__EVENTVALIDATION':'/wEWBwLlxrnMAwKyy4GNBwKzy4GNBwKwy4GNBwKxy4GNBwL5muahDAKMm5KEDaYjgdhgAGJ5Ne1L7rPtx+ycuzC/',
            //             '__VIEWSTATE':'/wEPDwUKMTA0MDk3Njk0Mg9kFgICAQ9kFgICBw8PFgIeBFRleHQFkQNUV0Q2N+e2k+e3r+W6puWdkOaomeWAvCA644CA44CA44CAIOOAgDxiPjEyMDowODoyMS4xMTQwMCwgMjM6MDM6MTAuMTE1MDA8c21hbGw+ICgxMjAuMTM5MTk4MzMzMzMzLDIzLjA1MjgwOTcyMjIyMjIpPC9zbWFsbD48L2I+PGJyPlRXRDY35LqM5bqm5YiG5bi25Z2Q5qiZ5YC8IDrjgIDjgIAg44CAPGI+MTYxNzg4Ljk4NSwgMjU1MDM5OS4yMjA8L2I+PGJyPlRXRDk3KFdHUzg0Kee2k+e3r+W6puWdkOaomeWAvCA6 IDxiPjEyMDowODo1MC4xOTIyMCwgMjM6MDM6MDMuNzk2MjQ8c21hbGw+ICgxMjAuMTQ3Mjc1NjExMzcyLDIzLjA1MTA1NDUxMDI2NjMpPC9zbWFsbD48L2I+PGJyPlRXRDk35LqM5bqm5YiG5bi25Z2Q5qiZ5YC8 IDrjgIAg44CA44CAPGI+MTYyNjE1LjkzNCwgMjU1MDE5MS4xODI8L2I+PGJyPmRkZG/sibbFSPm1K+nXL2AG/J+PInJM',
            //             '__VIEWSTATEGENERATOR':'F862B26F'
            //             };
            //         // 將body轉換為字串
            //         var bodyString = JSON.stringify(body);
            //         // var parser = new DOMParser();
            //         // 發送請求
            //         xhr.send(bodyString);
            //         if (xhr.status == 200) {
            //             // 獲取回應的內容
            //             var response = xhr.responseText;
            //             // 在控制台打印回應的內容
            //             const $ = cheerio.load(response);  // 将 HTML 文本传递给 cheerio，创建一个类似于 jQuery 的对象
            //             // const title = $('span[id=Message]').text();
            //             const title = $('span[id=Message]').children("b").eq(3).text();
            //             // const title = $('span[id=Message]').find("b")[3];
            //             // const title = $('span[id=Message]').find("b").childNodes[0];
            //             output = title.toString();
            //             // 根據需要處理回應的內容
            //             // ...
            //         }
            //         // 如果請求失敗
            //         else {
            //             // 在控制台打印錯誤訊息
            //             console.error("Error: " + xhr.status);
            //         }
                    
            //     }
            //     else{
            //         var body = {
            //             'BUTTON1':'轉換',
            //             'CoordFormat':'4',
            //             'CoordValue':input[1].toString()+","+input[0].toString(),
            //             '__EVENTVALIDATION':'/wEWBwLlxrnMAwKyy4GNBwKzy4GNBwKwy4GNBwKxy4GNBwL5muahDAKMm5KEDaYjgdhgAGJ5Ne1L7rPtx+ycuzC/',
            //             '__VIEWSTATE':'/wEPDwUKMTA0MDk3Njk0Mg9kFgICAQ9kFgICBw8PFgIeBFRleHQFkQNUV0Q2N+e2k+e3r+W6puWdkOaomeWAvCA644CA44CA44CAIOOAgDxiPjEyMDowODoyMS4xMTQwMCwgMjM6MDM6MTAuMTE1MDA8c21hbGw+ICgxMjAuMTM5MTk4MzMzMzMzLDIzLjA1MjgwOTcyMjIyMjIpPC9zbWFsbD48L2I+PGJyPlRXRDY35LqM5bqm5YiG5bi25Z2Q5qiZ5YC8IDrjgIDjgIAg44CAPGI+MTYxNzg4Ljk4NSwgMjU1MDM5OS4yMjA8L2I+PGJyPlRXRDk3KFdHUzg0Kee2k+e3r+W6puWdkOaomeWAvCA6 IDxiPjEyMDowODo1MC4xOTIyMCwgMjM6MDM6MDMuNzk2MjQ8c21hbGw+ICgxMjAuMTQ3Mjc1NjExMzcyLDIzLjA1MTA1NDUxMDI2NjMpPC9zbWFsbD48L2I+PGJyPlRXRDk35LqM5bqm5YiG5bi25Z2Q5qiZ5YC8 IDrjgIAg44CA44CAPGI+MTYyNjE1LjkzNCwgMjU1MDE5MS4xODI8L2I+PGJyPmRkZG/sibbFSPm1K+nXL2AG/J+PInJM',
            //             '__VIEWSTATEGENERATOR':'F862B26F'
            //             };
            //         // 將body轉換為字串
            //         var bodyString = JSON.stringify(body);
            //         // var parser = new DOMParser();
            //         // 發送請求
            //         xhr.send(bodyString);
            //         if (xhr.status == 200) {
            //             // 獲取回應的內容
            //             var response = xhr.responseText;
            //             // 在控制台打印回應的內容
            //             const $ = cheerio.load(response);  // 将 HTML 文本传递给 cheerio，创建一个类似于 jQuery 的对象
            //             // const title = $('span[id=Message]').text();
            //             const title = $('span[id=Message]').children("b").eq(3).text();
            //             // const title = $('span[id=Message]').find("b")[3];
            //             // const title = $('span[id=Message]').find("b").childNodes[0];
            //             output = title.toString();
            //             // 根據需要處理回應的內容
            //             // ...
            //         }
            //         // 如果請求失敗
            //         else {
            //             // 在控制台打印錯誤訊息
            //             console.error("Error: " + xhr.status);
            //         } 
            //     }
            // }
            // 將數字轉換成二進位制
            // var output = input.toString()
            // var output = parseInt(input).toString(2);
            // 將轉換結果顯示在另一個輸入框中
        //     document.getElementById("output").value = output;
        // }
    </script> -->
</body>
</html>
<script>
// const corsURL = 'https://cors-anywhere.herokuapp.com/'; // use cors-anywhere to fetch api data
function triggerPostAction() {
    $("button").click(function() {
        console.log(1);
            var input = document.getElementById("input").value;
            $.ajax({
            type: 'POST',
            // url: corsURL+'http://gis.thl.ncku.edu.tw/coordtrans/coordtrans.aspx',
            url: 'http://gis.thl.ncku.edu.tw/coordtrans/coordtrans.aspx',
            headers:{
                'Access-Control-Allow-Origin': '*',
                'Access-Control-Allow-Methods': 'POST,GET,OPTIONS,PUT,DELETE',
                'Access-Control-Allow-Headers': '*',
                'Access-Control-Allow-Credentials': 'true',
                'Access-Control-Expose-Headers': '*',
                'Ver': '1.0',
                'Status':'OK',
                "Upgrade-Insecure-Requests": "1",
                "Content-Type": "application/x-www-form-urlencoded",
                // "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36",
                "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"
            },
            data: { BUTTON1:'轉換',
                    CoordFormat:'4',
                    CoordValue:input.toString(),
                    __EVENTVALIDATION:'/wEWBwLlxrnMAwKyy4GNBwKzy4GNBwKwy4GNBwKxy4GNBwL5muahDAKMm5KEDaYjgdhgAGJ5Ne1L7rPtx+ycuzC/',
                    __VIEWSTATE:'/wEPDwUKMTA0MDk3Njk0Mg9kFgICAQ9kFgICBw8PFgIeBFRleHQFkQNUV0Q2N+e2k+e3r+W6puWdkOaomeWAvCA644CA44CA44CAIOOAgDxiPjEyMDowODoyMS4xMTQwMCwgMjM6MDM6MTAuMTE1MDA8c21hbGw+ICgxMjAuMTM5MTk4MzMzMzMzLDIzLjA1MjgwOTcyMjIyMjIpPC9zbWFsbD48L2I+PGJyPlRXRDY35LqM5bqm5YiG5bi25Z2Q5qiZ5YC8IDrjgIDjgIAg44CAPGI+MTYxNzg4Ljk4NSwgMjU1MDM5OS4yMjA8L2I+PGJyPlRXRDk3KFdHUzg0Kee2k+e3r+W6puWdkOaomeWAvCA6 IDxiPjEyMDowODo1MC4xOTIyMCwgMjM6MDM6MDMuNzk2MjQ8c21hbGw+ICgxMjAuMTQ3Mjc1NjExMzcyLDIzLjA1MTA1NDUxMDI2NjMpPC9zbWFsbD48L2I+PGJyPlRXRDk35LqM5bqm5YiG5bi25Z2Q5qiZ5YC8 IDrjgIAg44CA44CAPGI+MTYyNjE1LjkzNCwgMjU1MDE5MS4xODI8L2I+PGJyPmRkZG/sibbFSPm1K+nXL2AG/J+PInJM',
                    __VIEWSTATEGENERATOR:'F862B26F'},
            success: function(msg) {
                console.log('good');
                // console.log(xhr.getResponseHeader('Ver'));
                // console.log(xhr.getResponseHeader('Status'));
                // output = $('span[id=Message]').children("b").eq(3).text();
                // document.getElementById("output").value = output;
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
                // 处理错误
                console.log(XMLHttpRequest);
                console.log(textStatus)
                console.log(errorThrown);
            },
            failure:function(data){
                console.log(data);
            }
            });
        });
    }   
</script>
